<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find adaption_finger)/urdf/adaption_finger_backup.urdf" 
    sur_type="1"/>
  <rosparam command="delete" ns="adaption"/>
  <rosparam command="load" file="$(find adaption_launch)/config/geo_setup.yaml" ns="adaption"/>
  <param
    name="use_gui"
    value="$(arg gui)" />
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find adaption_finger)/urdf.rviz" />
</launch>